@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: lightblue;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000 ;
    font-family: 'Open Sans', sans-serif;


}
i.fa-solid {
  position: relative;
  top: .04331em;
}
.title {
  font-size: 80px;
  margin-top: 75px;
  
}
.search {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;


}
input {
  height: 40px;
  width: 500px;
  border: none;
  background-color: beige;
  font-size: 40px;
}


button {
  font-size:33px;
  background-color: beige;
  border: none;
  
} 

h1{
    padding-top: 30px;
    margin: 30px 30px 30px 30px;
    font-size: 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    margin-bottom: 100px;
    margin-top: 30px;
  
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 1300px;
    padding: 80px;
}


.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    height: 400px;
    width: 250px;
    
    
    
}


h2 {
    text-align: center;
}




.flip-card {
  background-color: transparent;
  width: 400px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  padding: 15px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: orange;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000 ;
  
}
.results .flip-card .flip-card-inner .flip-card-front p {
  font-size: 25px;
  margin: 5px;
  text-align: center;
}

.results .flip-card .flip-card-inner .flip-card-front h4 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}
.results .flip-card .flip-card-inner .flip-card-front h2 {
  font-size: 25px;
}

.flip-card-back {
  background-color: dodgerblue;
  color: orange;
  transform: rotateY(180deg);
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000 ;
  font-size: 25px;
}
 
.flip-card-back img {
  height: 36%
}

.results .flip-card .flip-card-inner .flip-card-front #thumbnail {
    max-width: 200px;
    max-height: 150px;
    min-width: 60%;
    padding-bottom: 7px;


    
}