body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    margin-bottom: 100px;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 50vw;
   
}

img {
    max-width: 100px;
    max-height: 200px;
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    border: dotted blue 4px;
    height: 400px;
    width: 250px;
    
}

h2 {
    text-align: center;
}

.item>img {
    min-width: 100px;
    min-height: 100px;
    padding: 20px;
}